.btn {
  border: none;
  outline: none;
  background-color: rgba($mainColor, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
  width: fit-content;
  transition: $transitionDuration_4ms;
  &:hover {
    background-color: $mainColor;
  }
}

.toggler {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 15px;
  display: none;
  @media #{$maxSmall} {
    display: block;
  }
  span {
    display: block;
    background-color: $mainColor;
    border-radius: 10px;
    height: 3px;
    width: 40px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
