.btn {
  border: none;
  outline: none;
  background-color: rgba($mainColor, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
  width: fit-content;
  transition: $transitionDuration_4ms;
  &:hover {
    background-color: $mainColor;
  }
}
