// Media
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 768px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 992px)";
$minLarge: "(min-width: 1200px)";


$mainColor: #e2494c;
$secondaryColor: #9c9c9c;
$footerColor: #e2e2e2;

$transitionDuration_4ms: 0.4s;
