/*Footer*/
.footer {
  margin-top: 50px;
  background-color: $footerColor;
  padding: 30px 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      > div {
        width: percentage(90/2);
        &:not(:last-child) {
          padding-right: 20px;
        }
        h2 {
          margin-bottom: 20px;
          font-weight: normal;
          font-size: 18px;
        }
      }
      .latest {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
        img {
          width: 100px;
          height: 100px;
          border: 1px solid #ccc;
          padding: 4px;
        }
        .latest-1,
        .latest-2 {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          img {
            margin-right: 20px;
          }
          h2 {
            font: {
              weight: bold;
              size: 18px;
            }
            margin-bottom: 10px;
            color: $mainColor;
          }
          p {
            color: $secondaryColor;
            line-height: 1.8;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
      .contact-part {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        > div {
          width: percentage(90 / 2);
        }
        .company {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          > div {
            margin-bottom: 20px;
            color: $secondaryColor;
            &:nth-child(3) {
              span {
                color: $mainColor;
              }
            }
            &:last-child {
              h3 {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
                color: black;
              }
            }
          }
        }
        .contact {
          form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input {
              width: 100%;
              padding: 10px;
              border: none;
              border-radius: 6px;
              margin-bottom: 10px;
              caret-color: $mainColor;
              &:focus {
                outline: none;
              }
            }
            textarea {
              padding: 10px;
              width: 100%;
              height: 150px;
              resize: none;
              border: none;
              border-radius: 6px;
              caret-color: $mainColor;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    .end {
      position: relative;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      p:first-child {
        width: 50%;
        span {
          color: $mainColor;
        }
      }
      p {
        i {
          color: $mainColor;
        }
      }
      &::before {
        content: "";
        position: absolute;
        background-color: white;
        width: 100%;
        height: 3px;
        left: 0;
        top: -30px;
      }
    }
  }
}
/*END Footer*/
