header {
  margin-top: 20px;
  border-bottom: 1px solid $secondaryColor;
  padding-bottom: 30px;
  position: relative;
  .container {
    display: flex;
    align-items: flex-start;
    @media #{$maxSmall} {
      flex-direction: column;
      align-items: center;
    }
  }
  .logo {
    margin-right: 50px;
    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .nav {
    display: flex;
    justify-content: space-around;
    flex: 1;
    background-color: $mainColor;
    border-radius: 10px;
    @media #{$maxSmall} {
      border-radius: 0;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 15px;
      width: 100%;
      margin-top: 20px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    li {
      cursor: pointer;
      text-align: center;
      a {
        color: white;
        padding: 20px 0;
        transition-duration: $transitionDuration_4ms;
        &:hover {
          color: #ccc;
        }
      }
      @media #{$maxSmall} {
        width: 100%;
        text-align: left;
      }
    }
  }
  .nav.active {
    @media #{$maxSmall} {
      max-height: 500px;
    }
  }
}
