/* Slider */
.slider {
  blockquote {
    line-height: 1.7;
    text-align: center;
    font: {
      family: Tahoma, Arial;
      style: italic;
      weight: bold;
      size: 20px;
    }
    width: 80%;
    margin: 30px auto;
    @media #{$maxSmall} {
      width: 100%;
    }
  }
  img {
    width: 100%;
    height: 600px;
    transition: opacity $transitionDuration_4ms;
    &.fade-out {
      opacity: 0;
    }
  }
  .bullets {
    margin-top: 20px;
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $secondaryColor;
      border: 2px solid $secondaryColor;
      cursor: pointer;
      transition: $transitionDuration_4ms;
      &.active,
      &:hover {
        background-color: white;
        border: 2px solid $mainColor;
      }
    }
  }
}
/*END Slider*/

/*Services*/
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .srv-box {
    width: percentage(100/3);
    &:not(:last-child) {
      padding-right: 10px;
    }
    h2 {
      i {
        margin-right: 5px;
        font-size: 25px;
      }
    }
    p {
      margin: 15px 0;
      color: $secondaryColor;
      line-height: 1.6;
    }
    a {
      width: fit-content;
      color: $mainColor;
      font-size: 16px;
      i {
        transition: $transitionDuration_4ms;
      }
      &:hover {
        i {
          position: relative;
          transform: translateX(10px);
        }
      }
    }
  }
  @media #{$maxSmall} {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .srv-box {
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: 40px;
        padding-right: 0;
      }
      h2 i {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
/*END Services*/

/*Players*/
.players-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$maxMedium} {
    flex-wrap: wrap;
    .player-box {
      width: 50%;
      margin-bottom: 40px;
      text-align: center;
      a {
        margin: 0 auto;
      }
      &:last-child {
        width: 100%;
      }
    }
  }
  @media #{$maxSmall} {
    .player-box {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      a {
        margin: 0 auto;
      }
    }
  }
  .player-box {
    color: $secondaryColor;

    &:not(:last-child) {
      padding-right: 10px;
    }
    img {
      max-width: 100%;
      height: 200px;
    }
    h3 {
      margin-top: 15px;
      font-weight: normal;
      font-size: 16px;
      span {
        font-weight: bold;
      }
    }
    p {
      margin: 15px 0;
      line-height: 1.6;
    }
    a {
      width: fit-content;
      color: $mainColor;
      font-size: 16px;
      i {
        transition: $transitionDuration_4ms;
      }
      &:hover {
        i {
          position: relative;
          transform: translateX(10px);
        }
      }
    }
  }
}
/*END Players*/

/*LOREM IPSUM*/
.lorem-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .lorem-box {
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      img {
        max-width: 100%;
        height: 200px;
      }
    }
  }
  @media #{$maxSmall} {
    flex-wrap: wrap;
    .lorem-box {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      &:not(:last-child) {
        margin-right: 0;
      }
      a {
        img {
          width: 90%;
          height: 350px;
        }
      }
    }
  }
}
/*END LOREM IPSUM*/